<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Welcome Message</title>
    <style>
        body
        {
            background-color:skyblue;
        }
        h1{
            color:red;
            text-align: center;
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid black;
            margin: 100px;
        }
    </style>
</head>
<body>
    <h1>Hello {{uname}}! </h1>
    <center><img src="{%static 'images/mag.png' %}" alt="Image not loaded"></center>
    
</body>
</html>