<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Tutorial</title>
</head>
<body bgcolor="">
<center>
    <h2>Django Codes with Examples.</h2>
        <table border=1 cellpadding=3 cellspacing=0>
            <tr><th rowspan="0"><h2>&nbsp INDEX &nbsp</h2></th></tr>
            <tr>
                <th>S.No.</th>
                <th>Topics of Django Examples</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>&nbsp;To display Admin Page.</td>
                <td><a href="/admin"> Click Here! </a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>&nbsp;Displaying of simple text on a page using HttpResponse.</td>
                <td><a href="/index"> Click Here! </a></td>
            </tr>            <tr>
                <td>3.</td>
                <td>&nbsp;A sample page to load static content (i.e. images,etc) on a webpage.</td>
                <td><a href="/show"> Click Here! </a></td>
            </tr>            <tr>
                <td>4.</td>
                <td>&nbsp;To display dynamic text or content on a webpage.[PART 1]</td>
                <td><a href="/hello"> Click Here! </a></td>
            </tr>            <tr>
                <td>5.</td>
                <td>&nbsp;To display dynamic text or content on a webpage.[PART 2]</td>
                <td><a href="/sample"> Click Here! </a></td>
            </tr>            <tr>
                <td>6.</td>
                <td>&nbsp;[DataBase Connectivity PART 1] To DISPLAY contents from database using form.</td>
                <td><a href="/createstudent"> Click Here! </a></td>
            </tr>            <tr>
                <td>7.</td>
                <td>&nbsp;[DataBase Connectivity PART 2] To enter and SAVE contents to a database using form. &nbsp;</td>
                <td><a href="/createstudent1"> Click Here! </a></td>
            </tr>            <tr>
                <td>8.</td>
                <td>&nbsp;[DataBase Connectivity PART 3] To DELETE an existing record from database.</td>
                <td><a href="/createstudent"> Click Here! </a></td>
            </tr>            <tr>
                <td>9.</td>
                <td>&nbsp;[DataBase Connectivity PART 4] To EDIT an existing record of a database.</td>
                <td><a href="/createstudent"> Click Here! </a></td>
            </tr>            <tr>
                <td>10.</td>
                <td>&nbsp;[DOWNLOAD PART 1] To create a download request for .CSV files.</td>
                <td><a href="/getcsv"> Click Here! </a></td>
            </tr>            <tr>
                <td>11.</td>
                <td>&nbsp;[DOWNLOAD PART 2] To create a download request for .PDF files.</td>
                <td><a href="/getpdf"> Click Here! </a></td>
            </tr>            <tr>
                <td>12.</td>
                <td>&nbsp;To set session in a web application.</td>
                <td><a href="/setsession"> Click Here! </a></td>
            </tr>            <tr>
                <td>13.</td>
                <td>&nbsp;To set session in a web application.</td>
                <td><a href="/getsession"> Click Here! </a></td>
            </tr>            <tr>
                <td>14.</td>
                <td>&nbsp;To set cookie using Django built-in method.</td>
                <td><a href="/setcookie"> Click Here! </a></td>
            </tr>            <tr>
                <td>15.</td>
                <td>&nbsp;To fetch cookie using Django built-in method.</td>
                <td><a href="/getcookie"> Click Here! </a></td>
            </tr>            <tr>
                <td>16.</td>
                <td>&nbsp;To send email.</td>
                <td><a href="/sendmail"> Click Here! </a></td>
            </tr>            <tr>
                <td>17.</td>
                <td>&nbsp;To create login page.</td>
                <td><a href="/login"> Click Here! </a></td>
            </tr>            <tr>
                <td>18.</td>
                <td>&nbsp;To create SignUp page for new user login.</td>
                <td><a href="/customreg"> Click Here! </a></td>
            </tr>            <tr>
                <td>19.</td>
                <td>&nbsp;To display the home page after Login. [*NOTE: Do login first.] &nbsp;</td>
                <td><a href="/home"> Click Here! </a></td>
            </tr>            <tr>
                <td>20.</td>
                <td>&nbsp;Displays the Login webpage after LogOut.</td>
                <td><a href="/logoutview"> Click Here! </a></td>
            </tr>            <tr>
                <td>21.</td>
                <td>&nbsp;To display a sample website with navigation bar.</td>
                <td><a href="/about"> Click Here! </a></td>
            </tr>            <tr>
                <td>22.</td>
                <td>&nbsp;To display another sample website linked with previous sample website.</td>
                <td><a href="/sample1"> Click Here! </a></td>
            </tr>            <tr>
                <td>23.</td>
                <td>&nbsp;[UPLOAD PART 1] To create a interface to upload files to the database.</td>
                <td><a href="/uploader"> Click Here! </a></td>
        </table>
    </center>
</body>
</html>